body {
	position: relative;
	font-family: 'Roboto', serif;
	background-image: url("https://instagram.fosl1-1.fna.fbcdn.net/t51.2885-15/e35/14135028_1831205397165669_552061141_n.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	font-family: 'Roboto', serif;
	color: white;
}

p {
	font-family: 'Roboto', serif;
	color: white;
}

.logo {
	color: #3498DB;
	font-size: 96px;
	text-align: center;
}

.navbar {

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width: 100%;
	min-width: 400px;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
}

.content {
	margin: 0 auto;
	width: 60%;
}

.description {
	text-align: center;
}

.description h1 {
	font-size: 48px
}

.description p {
	font-size: 24px;
}

.signup {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
}

.signup p {
	margin: 15px;
	font-size: 22px;
}

.signup form {
	padding: 20px;
}

.signup input {
	height: 50px;
	width: 320px;
	color: #A1ABB2;
	padding: 20px;
	font-size: 18px;
	border: none;
}

.signup input:focus {
	background-color: #F5F6F7;
	color:#000;
}

.signup button {
	height: 50px;
	width: 320px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #2ECC71;
	color: #FFF;
	font-size: 22px;
	border: none;
}