body {
	position: relative;
	font-family: 'Roboto', serif;
}

h1 {
	font-family: 'Roboto', serif;
}

p {
	font-family: 'Roboto', serif;
}

.logo {
	color: #3498DB;
	font-size: 96px;
	text-align: center;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.description {
	text-align: center;
	width: 320px;
}

h1.description {
	font-size: 48px
}

p.description {
	font-size: 24px;
}

.signup {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
}

.signup p {
	margin: 15px;
	font-size: 22px;
}

.signup form {
	padding: 20px;
}

.signup input {
	height: 50px;
	width: 320px;
	color:#A1ABB2;
	padding: 20px;
	font-size: 18px;
	border: none;
}

.signup input:focus {
	background-color: #A1ABB2;
	color:#000;
}

.signup button {
	height: 50px;
	width: 320px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #2ECC71;
	color: #FFF;
	font-size: 22px;
	border: none;
}